img {
    width: 250px;
    height: 350px;
}
.card {
    display: inline-block;
    text-align: start;
    width: 250px;
    background-color: #3B8AC4;
    margin: 25px;
}

.card div {
    padding-left: 10px;
    padding-bottom: 10px;
}