ul {
    margin: auto;
    width: 30%;
}

li {
    font-size: 22px;
    border-radius: 30px;
    background-color: #3B8AC4;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

li:hover{
    background-color: #DEF3F6;
    color: rgb(37, 34, 34);
}