<div class="header">
    <nav>
        <a routerLink="">
            <li>Home</li>
        </a>
        <a routerLink="categories">
            <li>Anime List</li>
        </a>
        <a routerLink="popular">
            <li>Popular</li>
        </a>
    </nav>
    <div class="form">
        <table *ngIf="authenticated==false; else elseblock">
            <tr>
                <td><input type="email" placeHolder="Email" [(ngModel)]="email"></td>
                <td><input type="password" placeHolder="Password" [(ngModel)]="pw"></td>
                <td><app-btn (click)="login()" value="Sign In" color="#345DA7"></app-btn></td>
            </tr>
            <tr>
                <td></td>
                <td>Forgot Password</td>
                <a routerLink="createaccount">
                    <td>Create Account</td>
                </a>
            </tr>
        </table>
        <ng-template #elseblock>
            <table>
                <tr>
                    <td>{{loggedUser.name}}</td>
                    <td><app-btn (click)="logout()" value="Sign Out" color="#345DA7"></app-btn></td>
                </tr>
            </table>
        </ng-template>
    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>