<div class="header">
    <nav>
        <a routerLink=""><li>Home</li></a>
        <a routerLink="categories"><li>Anime List</li></a>
        <li>Popular</li>
    </nav>
    <div class="form">
        <table>
            <tr>
                <td><app-inp placeHolder="Email"></app-inp></td>
                <td><app-inp type="password" placeHolder="Password"></app-inp></td>
                <td><app-btn value="Sign In" color="#345DA7"></app-btn></td>
            </tr>
            <tr>
                <td></td>
                <td>Forgot Password</td>
                <td>Create Account</td>
            </tr>
        </table>
    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>