<div>
    <div class="img">
        <img [src]="animedetails.animeImg" alt="animedetails.animeTitle" class="anime-img">
        <div>
            <img class="icon" src="../../../assets/images/heart-icon.png" alt="heart-icon">
            <b>Add to favorites</b>
        </div>
    </div>
    <div class="description">

        <h1>{{animedetails.animeTitle}}</h1>
        <div><b>Score: </b> {{animedetails.score}}</div><br>
        <div><b>Genre: </b><span *ngFor="let genre of animedetails.genres">{{genre}}/ </span></div><br>
        <p><b>Description:</b><br>{{animedetails.synopsis}}</p>
        <p><b>Number of episodes:</b> {{animedetails.episodes!=null?animedetails.episodes: "Not finished yet"}} </p>
        <p><b>Status:</b> {{animedetails.status}}</p>
    </div>
</div>
<div class="episodes">
    <h2>Episodes</h2>
    <a routerLink="episode">1</a>
</div>