<div>
    <div class="img">
        <img src="../../../assets/images/dummy.jpg" alt="dummy" class="anime-img">
        <div>
            <img class="icon" src="../../../assets/images/heart-icon.png" alt="heart-icon">
            <b>Add to favorites</b>
        </div>
    </div>
    <div class="description">
        <h1>Anime Name</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sint ipsa quis ipsum modi animi nobis consequuntur maxime, necessitatibus maiores quae ullam!
        Ullam assumenda vero illum repudiandae harum, nam culpa sint.</p>
    </div>
</div>
<div class="episodes">
    <h2>Episodes</h2>
    <a href="">1</a>
</div>